<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %>
    </title>
  </head>

<body>
<h1>About Page</h1>
<p>this is thehome page for the <a href="http://www.railstutorial.org/"> Ruby on rails tutorialllllllllll</a>
</p>

<p> its the friggin best about pages you will ever seeeeeeeeeeee</p>

</body>

</html>
