<%provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title> <%yield(:title) %> | Ruby on Rails Tutorial Sample App
    </title>
  </head>

<body>
<h1>Get Contact Information</h1>
<p>
 This is the contact page bro
</p>
<p> its the friggin best about pages you will ever seeeeeeeeeeee</p>
</body>

</html>
