<%provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title> <%yield(:title) %> | Ruby on Rails Tutorial Sample App
    </title>
  </head>

<body>
<h1>Get Help</h1>
<p>
  Get help on the <a href= "http://railstutorial.org/#help"> Rails toturial na ja pnongggg </a>
  Ruby on Rails tutorial
</p>
<p> its the friggin best about pages you will ever seeeeeeeeeeee</p>
</body>

</html>
