<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>
  
  <head>
    <title><%=yield(:title) %> | Ruby on Rails Tutorial Sample App </title>
  </head>
  
  
  
  <body>
  
  <%if logged_in? %>
  
  <%= render 'shared/micropost_at_home' %>

  
  <% else %>
    
  <%= render 'shared/default_at_home' %>
  

  <% end %>
  
  </body>
</html>

