<!DOCTYPE html>
<html>
<head>
  
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= render 'layouts/shim' %>
</head>



<body>

  <%= render 'layouts/header' %>
  
  
<div class = "container">
  <% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>

  <% end %>
  
  <%= yield %>
  
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>


</body>
</html>
